<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<head>
    <title>Access Denied</title>
</head>

<body>

    <div layout:fragment="pageContent">
        <div class="error-page">
            <div class="error-code">403</div>
            <h1>Access Denied</h1>
            <p>You don't have permission to access this resource.</p>

            <div class="nav-pills" style="justify-content: center;">
                <a class="nav-pill" th:href="@{/}">🏠 Go Home</a>
                <a class="nav-pill" th:href="@{/login}">🔐 Login</a>
            </div>
        </div>
    </div>

</body>

</html>